<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        script.
            let exports = {"__esModule": true}
            function $(query) { return document.querySelector(query) }
            const DEBUG = true
    body
        header
            .btn#exit
            .btn#min
            .btn#max
            
        #editor

        script(src="../lib/ace.js")
        script(src="../render/render.js")
        script(src="../render/window-controls.js")