<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        link(rel="stylesheet", href="../../node_modules/tippy.js/themes/light.css")
        link(rel="stylesheet", href="../../node_modules/xterm/css/xterm.css")
        script(src="../../node_modules/popper.js/dist/umd/popper.min.js")
        script(src="../../node_modules/tippy.js/dist/tippy-bundle.iife.js")
        script(src="../../lang/cpp.js")
        script(src="../../lang/js.js")
        script(src="../../lang/sass.js")
        script(src="../../lang/json.js")
        script(src="../../lang/ts.js")
        script(src="../lib/observe/observe.js")
        script(src="../lib/storage/storage.js")
        script(src="../lib/tiny-menu/tiny-menu.js")
        script(src="../lib/resizer/resizer.js")
        script.
            let exports = {"__esModule": true}
            function $(query) { return document.querySelector(query) }
            const DEBUG = true
    body
        video#bg(autoplay height="100vh" loop="true" muted)
            source(src="../../art/bg.mp4" type="video/mp4")
        header
            .btn#exit
            .btn#min
            .btn#max
            #title-cont
                #title
                #saved(data-tippy-content="Save File (CTRL + S)")
        #quick-files
        #file-system
            #panel
                .col
                    .btn#terminal-button(data-tippy-content="ALT + T")
                    .btn#dna-button(data-tippy-content="ALT + D")
                .col
                    .btn#change-dir(data-tippy-content="ALT + R")
            #resizer
            #container
        #fs-move
            #fs-move-icon
        #view
            #welcome
                div
                    .img
                    h1 Illiade
                    i#version Version
            #editor
            #image
                #image-container
        #terminal
            #term-tabs
            #xterms
        #dna
            #dna-bg
                .main-title Edit Illiade's DNA
                .back
                .container
                    

        #menu
            #container
                #title This is a title
                #subtitle This is a subtitle
                #option
                #option.near
                input#input(placeholder="This is a placeholder")
                #option.near
                #option
        #tabs
            #container
                #items
        #paralels
        #error Error: Oopsie
        #drop
            #drop-icon.no-file

        #decision
            .content Should I remove the file?
            .container
                .btn.y(data-tippy-content="ALT + Y") Yes
                .btn.n(data-tippy-content="ALT + N") No
        audio(autoplay loop)
            source(src="../../art/underwater.mp3" type="audio/mpeg")
        script(src="../lib/draggable/draggable.js")
        script(src="../render/global.js")
        script(src="../render/main.js")
        script(src="../render/error.js")
        script(src="../render/decision.js")
        script(src="../render/menu.js")
        script(src="../render/view.js")
        script(src="../render/monaco.js")
        script(src="../render/audio.js")
        script(src="../render/term.js")
        script(src="../render/file-system/ops.js")
        script(src="../render/file-system/main.js")
        script(src="../render/file-system/resizer.js")
        script(src="../render/file-system/tree.js")
        script(src="../render/file-system/events.js")
        script(src="../render/file-system/tabs.js")
        script(src="../render/cli.js")
        script(src="../render/drop.js")
        script(src="../render/dna/events.js")
        script(src="../render/dna/main.js")
        script(src="../render/window-controls.js")