<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        script.
            let exports = {"__esModule": true}
        script(src="../render/render.js")
    body
        header
            .btn#exit
            .btn#min
            .btn#max
        canvas#grid
        #toolbar
            .btn#block
