<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        script.
            let exports = {"__esModule": true}
            function $(query) { return document.querySelector(query) }
            const DEBUG = true
    body
        video#bg(autoplay height="100vh" loop="true" muted)
            source(src="../art/bg.mp4" type="video/mp4")
        header
            .btn#exit
            .btn#min
            .btn#max
            
        #editor

        script(src="../render/sky.js")
        script(src="../render/render.js")
        script(src="../render/window-controls.js")