<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        link(rel="stylesheet", href="../../node_modules/tippy.js/themes/light.css")
        script(src="../../node_modules/popper.js/dist/umd/popper.min.js")
        script(src="../../node_modules/tippy.js/dist/tippy-bundle.iife.js")
        script(src="../../lang/cpp.js")
        script(src="../lib/observe/observe.js")
        script(src="../lib/storage/storage.js")
        script(src="../lib/tiny-menu/tiny-menu.js")
        script(src="../lib/resizer/resizer.js")
        script.
            let exports = {"__esModule": true}
            function $(query) { return document.querySelector(query) }
            const DEBUG = true
    body
        video#bg(autoplay height="100vh" loop="true" muted)
            source(src="../../art/bg.mp4" type="video/mp4")
        header
            .btn#exit
            .btn#min
            .btn#max
            #title-cont
                #title
        #quick-files
        #file-system
            #panel
                .col
                    .btn#terminal-button(data-tippy-content="ALT + T")
                    .btn#soon 
                        span soon
                .col
                    .btn#change-dir(data-tippy-content="ALT + D")
            #resizer
            #container
        #view
            #welcome
                div
                    .img
                    h1 Illiade
                    i#version Version
            #editor
            #image
                #image-container
        #menu
            #container
                #title This is a title
                #subtitle This is a subtitle
                #option
                #option.near
                input#input(placeholder="This is a placeholder")
                #option.near
                #option
        #terminal
        #error Error: Oopsie

        script(src="../render/global.js")
        script(src="../render/main.js")
        script(src="../render/error.js")
        script(src="../render/menu.js")
        script(src="../render/view.js")
        script(src="../render/monaco.js")
        script(src="../render/terminal-input.js")
        script(src="../render/terminal.js")
        script(src="../render/file-system/ops.js")
        script(src="../render/file-system/main.js")
        script(src="../render/file-system/resizer.js")
        script(src="../render/file-system/tree.js")
        script(src="../render/file-system/events.js")
        script(src="../render/window-controls.js")