<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style/style.css")
        link(rel="stylesheet", href="../../node_modules/tippy.js/themes/light.css")
        link(rel="stylesheet", href="../../node_modules/xterm/css/xterm.css")
        link(rel="stylesheet", href="../../node_modules/@simonwep/pickr/dist/themes/nano.min.css")
        script(src="../../node_modules/popper.js/dist/umd/popper.min.js")
        script(src="../../node_modules/tippy.js/dist/tippy-bundle.iife.js")
        script(src="../../lang/cpp.js")
        script(src="../../lang/js.js")
        script(src="../../lang/sass.js")
        script(src="../../lang/json.js")
        script(src="../../lang/ts.js")
        script(src="../../lang/vue.js")
        script(src="../../lang/python.js")
        script(src="../../lang/elevate.js")
        script(src="../lib/predefine/main.js")
        script(src="../lib/observe/main.js")
        script(src="../lib/storage/main.js")
        script(src="../lib/tiny-menu/main.js")
        script(src="../lib/resizer/main.js")
        script(src="../lib/transition/main.js")
        script(src="../lib/shortcuts/main.js")
        
    body
        video#bg(autoplay height="100vh" loop="true" muted)
            source(src="../../art/bg.mp4" type="video/mp4")
        header
            .btn#exit
            .btn#min
            .btn#max
            #title-cont
                #title
                #saved(data-tippy-content="Save File (CTRL + S)")
        //- #quick-files
        #panel
            .big
                .col
                    .btn#apps-button(data-tippy-content="ALT + A")
                    .btn#dna-button(data-tippy-content="ALT + D")
                .col
                    .btn#change-dir(data-tippy-content="ALT + R")
                    .btn#terminal-button(data-tippy-content="ALT + T")
            .compact
                .col
                    .btn#apps-button
        #dock-apps
            .dock-app.uno
            .dock-app.dos
            .dock-app.tres
            
        #file-system
            #resizer
            #container
        #fs-move
            #fs-move-icon
        #view
            #welcome
                div
                    .img
                    h1 Illiade
                    i#version Version
            #editor
            #image
                #image-container
            #fs-scope-lock
                .close
        #terminal
            #term-tabs
            #xterms
            #term-edit
        #dna
            #dna-bg
                .main-title Edit Illiade's DNA
                .back
                .container
        #menu
            #container
                #title This is a title
                #subtitle This is a subtitle
                #option
                #option.near
                input#input(placeholder="This is a placeholder")
                #option.near
                #option
        #tabs
            #container
                #items
                #path /home/phoenix/Desktop/Projects/Illiade/node_modules/monaco-editor-textmate/dist/typings
        #paralels
        #message Error: Oopsie
        #decision
            .message Do you like pancakes?
            .choice#yes(data-tippy-content="ALT + Y") Yes
            .choice#no(data-tippy-content="ALT + N") No
        #drop
            #drop-icon.no-file
        audio(loop)
            source(src="../../art/underwater2.mp3" type="audio/mpeg")
        script(src="../lib/draggable/main.js")
        script(src="../render/general/global.js")
        script(src="../render/general/main.js")
        script(src="../render/general/message.js")
        script(src="../render/general/decision.js")
        script(src="../render/general/menu.js")
        script(src="../render/general/view.js")
        script(src="../render/general/monaco.js")
        script(src="../render/general/audio.js")
        script(src="../render/language/server.js")
        script(src="../render/term/main.js")
        script(src="../render/term/event.js")
        script(src="../render/file-system/watcher.js")
        script(src="../render/file-system/panel.js")
        script(src="../render/file-system/ops.js")
        script(src="../render/file-system/main.js")
        script(src="../render/file-system/resizer.js")
        script(src="../render/file-system/tree.js")
        script(src="../render/file-system/events.js")
        script(src="../render/file-system/tabs.js")
        script(src="../render/general/cli.js")
        script(src="../render/general/drop.js")
        script(src="../render/dna/events.js")
        script(src="../render/dna/main.js")
        script(src="../render/general/window-controls.js")