#decision
    z-index: 5
    position: absolute
    top: 175px
    right: -250px
    opacity: 1
    color: rgb(173, 255, 170)
    font-family: Lato
    transition: 200ms
    word-wrap: break-word
    .content
        transition: 200ms
        overflow-y: scroll
        overflow-x: hidden
        background: linear-gradient(rgba(0, 255, 42, 0.3), rgba(0, 255, 85, 0.2))
        backdrop-filter: blur(5px)
        border-radius: 20px
        width: 175px
        height: 75px
        padding: 20px
        &::-webkit-scrollbar
            background-color: transparent, adaw
        &::-webkit-scrollbar-track
            background-color: transparent
        &::-webkit-scrollbar-thumb
            background-color: rgba(9, 255, 0, 0.5)
            border-radius: 20px
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
        &:hover
            transform: scale(0.95)
        &:active
            transform: scale(0.9)
            opacity: 0.9
    .container
        text-align: center
        margin-top: 5px
    .btn
        color: #aaa
        cursor: pointer
        display: inline-block
        padding: 5px
        margin: 5px
        border-radius: 5px
        transition: background-color 100ms
        background-color: rgba(50, 50, 50, 0.5)
        &:hover
            background-color: rgba(40, 40, 40, 0.6)
        

        

        
