#dna
    visibility: hidden
    position: absolute
    top: 28px
    height: calc(100vh - 28px)
    backdrop-filter: blur(5px)
    width: 100vw
    z-index: 3
    background-color: rgba(0, 0, 0, 0.3)
    opacity: 0
    transition: opacity 200ms
    #dna-bg
        position: relative
        transition: 200ms
        text-align: center
        z-index: 3
        opacity: 0
        overflow-x: hidden
        overflow-y: scroll
        height: calc(100vh - 28px)
        &::-webkit-scrollbar
            background-color: transparent
        &::-webkit-scrollbar-track
            background-color: transparent
        &::-webkit-scrollbar-thumb
            background-color: rgba(30, 25, 22, 0.3)
            border-radius: 10px
    .main-title
        margin: 20px 0 10px 50px
        font-size: 4vw
        font-family: Lato
        color: #fca
        text-align: center
    .title
        margin: 10px 40px 5px 40px
        font-size: 3vw
        font-family: Lato
        color: #aaa
        text-align: left
    .back
        position: absolute
        top: 20px
        right: 10px
        height: 30px
        width: 30px
        border-radius: 10px
        background-image: url('../../art/cross-button.svg')
        background-position: center
        background-size: cover
        opacity: 0.5
        transition: opacity 200ms, transform 200ms
        cursor: pointer
        will-change: transform
        transform: scale(1)
        &:hover
            opacity: 1
        &:active
            transform: scale(0.9)
    .row
        padding: 10px
        margin: 20px
        .name
            display: inline-block
            font-size: 2vw
            text-align: right
            padding-right: 20px
            width: calc(50vw - 60px)
            font-family: Lato
            color: #999
            vertical-align: middle
        .setting
            text-align: left
            display: inline-block
            width: calc(50vw - 40px)
            vertical-align: middle

            .switch
                display: inline-block
                margin-left: 10px
                width: 2vw
                height: 2vw
                border-radius: 50%
                cursor: pointer
                background-color: #333
                transform: scale(1)
                will-change: transform
                transition: transform 300ms 
                &.on
                    transform: scale(1.5)
                    background: -webkit-linear-gradient( 45deg, #DD0039, #CA00B9)