#drop
    width: 100vw
    height: calc(100vh - 28px)
    position: absolute
    top: 28px
    left: 0
    backdrop-filter: blur(10px)
    z-index: 5
    visibility: hidden
    background-size: 250px
    background-repeat: no-repeat
    background-position: center
    background-image: url('../../art/drop.svg')
    transition: opacity 200ms
    opacity: 0
    