#file-system
    width: 200px
    height: 100vh
    background-color: transparent
    backdrop-filter: blur(10px)
    z-index: 2
    position: relative
    display: inline-block
    vertical-align: middle
    user-select: none
    font-family: Lato
    overflow-y: scroll
    &::-webkit-scrollbar
        background-color: transparent
    &::-webkit-scrollbar-track
        background-color: transparent
    &::-webkit-scrollbar-thumb
        background-color: #111
        border-radius: 10px
    #container
        padding-bottom: 50px
    #change-dir
        width: 100px
        height: 10px
        padding: 10px
        margin: 20px 30px
        background-color: rgba(70, 70, 70, 0.5)
        border-radius: 10px
        opacity: 0.5
        transition: 300ms
        cursor: pointer
        position: relative
        &::after
            display: inline-block
            content: ""
            position: absolute
            top: 0
            left: 0
            padding: 10px
            width: 100px
            height: 10px
            background-image: url('../../art/home-button-dark.svg')
            background-position: center
            background-size: contain
            background-repeat: no-repeat
        &:hover
            opacity: 1
            background: linear-gradient(90deg, red, orange)
            &::after
                background-image: url('../../art/home-button.svg')

    .dir
        color: #888
        border-radius: 5px
        transition: 200ms
        padding: 5px 5px
        cursor: pointer
        &:hover
            background-color: rgba(150,150,150, 0.1)
        &.hidden
            color: #444
    .files
        padding-left: 10px
        padding-top: 5px
    .icon
        display: inline-block
        width: 20px
        height: 20px
        opacity: 0.2
        background-size: cover
    li
        color: #aaa
        cursor: pointer
        transition: 200ms
        border-radius: 5px
        padding: 5px 10px
        &:hover
            background-color: rgba(255,255,255, 0.1)