#file-system
    width: 200px
    height: 100vh
    background-color: rgba(150, 150, 150, 0.05)
    backdrop-filter: blur(10px)
    z-index: 2
    position: relative
    display: inline-block
    vertical-align: middle
    user-select: none
    font-family: Lato
    overflow-y: scroll
    &::-webkit-scrollbar
        background-color: transparent
    &::-webkit-scrollbar-track
        background-color: transparent
    &::-webkit-scrollbar-thumb
        background-color: #2f2a28
        border-radius: 10px
    #resizer
        position: fixed
        right: 0
        top: 0
        width: 5px
        height: 100vh
        display: inline-block
        background: linear-gradient( 90deg, #DD0039, #CA00B9)
        opacity: 0
        transition: opacity 200ms
        cursor: e-resize
        &:hover
            opacity: 0.5
        &.grabbed
            opacity: 1 !important
    #container
        padding-bottom: 50px
        transition: opacity 100ms
    .item
        white-space: nowrap
        width: auto
        margin: 5px 0 5px 5px
        overflow: hidden
        border-top: 1px solid transparent
        border-left: 1px solid transparent
        color: #888
        border-radius: 5px
        padding: 5px 5px
        cursor: pointer
        &:hover
            border-left: 1px solid #555
    .icon
        margin-right: 5px
        vertical-align: middle
        display: inline-block
        width: 15px
        height: 15px
        background-image: url('../../art/icons/file-icon.svg')
        background-position: center
        background-size: cover
    .file
        vertical-align: top
        &.selected
            background: -webkit-linear-gradient( 45deg, #DD0039, #CA00B9)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    .dir
        &::before
            margin-right: 5px
            vertical-align: middle
            content: ""
            display: inline-block
            width: 15px
            height: 15px
            background-image: url('../../art/dir-hidden.svg')
            background-position: center
            background-size: cover
        &.expanded::before
                background-image: url('../../art/dir-open.svg')
    .files
        padding-left: 10px
        margin-top: 5px


#fs-move
    z-index: 3
    padding: 10px
    border-radius: 10px
    width: 50px
    height: 50px
    position: fixed
    bottom: 20px
    right: 40px
    background-color: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(10px)
    transform: scale(0)
    will-change: transform
    transition: transform 300ms
    &::after
       content: ""
       display: inline-block
       width: inherit 
       height: inherit
       padding: inherit
       background-image: url('../../art/cross-button.svg')
       background-size: 40px 40px
       background-position: center
       background-repeat: no-repeat
       border-radius: 10px
       position: absolute
       transform: scale(1)
       top: 0
       left: 0
       opacity: 0
       cursor: pointer
       transition: opacity 300ms
    &:hover
        #fs-move-icon
            transform: scale(1.3)
        &::after
            opacity: 0.5
    #fs-move-icon
        width: 50px
        height: 50px
        background-image: url('../../art/move.png')
        filter: invert(1)
        background-position: center
        background-size: cover
        transition: transform 300ms
