#panel
    .col
        display: flex
    .btn
        flex: 1
        display: inline-block
        width: auto
        height: 30px
        // padding: 10px
        margin: 20px 5px
        background-color: rgba(70, 70, 70, 0.5)
        border-radius: 10px
        opacity: 0.5
        transition: 300ms
        cursor: pointer
        position: relative
        text-align: center
        &::after
            vertical-align: top
            display: inline-block
            content: ""
            padding: 10px
            width: auto
            height: 10px
            background-position: center
            background-size: contain
            background-repeat: no-repeat
        &:hover
            opacity: 1
            background: -webkit-linear-gradient( 45deg, #DD0039, #CA00B9)
#change-dir
    &::after
        background-image: url('../../art/home-button-dark.svg')
    &:hover::after
        background-image: url('../../art/home-button.svg')
        
#terminal-button
    &::after
        background-image: url('../../art/terminal-button-dark.svg')
    &:hover::after
            background-image: url('../../art/terminal-button.svg')
    &.grab
        transform: scale(1.05)
        opacity: 0.8
        background: rgba(140, 70, 70, 0.5)
        &::after
            background-image: url('../../art/terminal-button.svg')
    &.over
        transform: scale(1.1)
        opacity: 1
        background: #960000
        &::after
            background-image: url('../../art/terminal-button.svg')
#soon
    &::after
        display: none !important