@import 'monaco.sass'


body
    margin: 0px
    background-color: #000
    overflow: hidden

#bg
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    filter: hue-rotate(135deg)
    // background-size: cover
    // background-image: url('../art/wallpaper.jpg')


header
    padding: 5px 5px 5px 5px
    -webkit-app-region: drag
    backdrop-filter: blur(20px)
    background-color: rgba(0, 0, 0, 0.3)
    .btn
        -webkit-app-region: no-drag
        vertical-align: middle
        display: inline-block
        width: 15px
        height: 15px
        background-size: cover
        transition: 100ms
        margin: 0 3px
        &:hover
            opacity: 0.5
    #exit
        background-image: url('../art/titlebutton-close.svg')
    #min
        background-image: url('../art/titlebutton-minimize.svg')
    #max
        background-image: url('../art/titlebutton-maximize.svg')