@import 'monaco.sass'


body
    margin: 0px
    background-color: #222
    overflow: hidden

header
    border-bottom: 2px #212121 solid
    padding: 2px 5px 2px 5px
    -webkit-app-region: drag
    .btn
        -webkit-app-region: no-drag
        vertical-align: middle
        display: inline-block
        width: 15px
        height: 15px
        background-size: cover
        transition: 100ms
        margin: 0 3px
        &:hover
            opacity: 0.5
    #exit
        background-image: url('../art/titlebutton-close.svg')
    #min
        background-image: url('../art/titlebutton-minimize.svg')
    #max
        background-image: url('../art/titlebutton-maximize.svg')