@import 'monaco.sass'
@import 'file-system.sass'
@import 'menu.sass'
@import 'error.sass'


html
    scroll-behavior: smooth

body
    margin: 0px
    background-color: #000
    overflow: hidden

#bg
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    opacity: 0.5
    filter: grayscale(100%)

    // filter: hue-rotate(135deg)
    // animation: bg-hue 360s infinite

@keyframes bg-hue
    0%
        filter: hue-rotate(0deg)
    100%
        filter: hue-rotate(360deg)

.tippy-tooltip
    font-family: Lato
    background-color: rgba(100, 100, 100, 0.2) !important
    backdrop-filter: blur(10px)

header
    padding: 5px 5px 5px 5px
    -webkit-app-region: drag
    backdrop-filter: blur(20px)
    background-color: rgba(0, 0, 0, 0.3)
    .btn
        -webkit-app-region: no-drag
        vertical-align: middle
        display: inline-block
        width: 15px
        height: 15px
        background-size: cover
        transition: 100ms
        margin: 0 3px
        &:hover
            opacity: 0.5
    #exit
        background-image: url('../../art/titlebutton-close.svg')
    #min
        background-image: url('../../art/titlebutton-minimize.svg')
    #max
        background-image: url('../../art/titlebutton-maximize.svg')

@font-face
    font-family: Lato
    src: url('../../art/lato.ttf')