#terminal
    position: absolute   
    right: 100px
    bottom: 100px
    width: auto !important
    height: auto !important
    z-index: 3
    overflow: hidden
    padding: 30px
    backdrop-filter: blur(30px) 
    background-color: rgba(49, 46, 38, 0.7)
    border-radius: 10px
    cursor: grab
    border: 1px #222 solid
    transform: scale(1)
    will-change: transform
    visibility: hidden
    transition: transform 200ms
    #term-edit
        position: absolute
        top: 0
        left: 0
        background-color: rgba(30, 30, 30, 0.75)
        border-radius: 10px
        border: 2px #920048 dashed
        width: calc(100% - 4px)
        height: calc(100% - 4px)
        background-image: url('../../art/move.png')
        background-size: 10%
        background-position: center
        background-repeat: no-repeat
        z-index: 5
        transition: 300ms
        visibility: hidden
        opacity: 0
        cursor: not-allowed
        &.on
            visibility: visible
            background-size: 30%
            opacity: 1


    #term-tabs
        position: absolute
        top: 10px
        left: 30px
        width: calc(100% - 60px)
        height: 10px
        z-index: 5
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: center
        align-content: space-between
        .term-tab
            position: relative
            display: inline-block
            width: 25px
            height: 5px
            margin: 5px
            background: #0006
            border-radius: 10px
            &::after
               content: "" 
               display: inline-block
               position: absolute
               top: 0
               left: 0
               transition: 300ms
               transition-timing-function: cubic-bezier(.04,.39,.78,1.46)
               width: inherit
               height: inherit
               border-radius: inherit
               background: linear-gradient( 45deg, #DD0039, #CA00B9)
               opacity: 0
               transform: scale(0, 1)
            &.on::after
                opacity: 1
                transform: scale(1, 1)


    &:active
        cursor: grabbing
    .xterm-viewport
        overflow: hidden
    