$selection: #df708f
    
#terminal
    visibility: hidden
    padding: 10px
    position: absolute
    margin: 10px
    top: 0
    left: 0
    z-index: 5
    width: 500px
    height: 200px
    backdrop-filter: blur(30px) brightness(0.5)
    background-color: rgba(100, 100, 100, 0.1)
    border-radius: 10px
    z-index: 2
    font-family: Lato
    touch-action: none
    box-sizing: border-box 
    overflow-y: scroll
    transform: scale(0)
    border: 1px solid #111
    &::-webkit-scrollbar
        background-color: transparent
    &::-webkit-scrollbar-track
        background-color: transparent
    &::-webkit-scrollbar-thumb
        background-color: rgba(50, 50, 50, 0.1)
        border-radius: 20px
    &::-webkit-scrollbar-corner
        background-color: transparent

    .portal
        position: relative
        color: transparent
        opacity: 0.6
        width: 50px
        height: 50px
        transition: opacity 300ms
        margin-left: 10px
        &.out
            // opacity: 0.2
            &:hover
                opacity: 1
            &::after
                animation: portal 5s infinite linear
        &:hover
            opacity: 1
        &:after
            cursor: pointer
            display: inline-block
            content: ""
            position: absolute
            top: 0
            left: 0
            background-image: url('../../art/portal2.png')
            background-position: left
            background-size: contain
            background-repeat: no-repeat
            width: 50px
            height: 50px
            animation: portal 5s infinite linear
            // filter: hue-rotate(150deg)
            z-index: 4

    .item
        display: inline-block
        background-color: rgba(50, 50, 50, 0.3)
        border-radius: 5px
        margin: 2px
        padding: 2px
        cursor: pointer
        &:hover
            background-color: rgba(100, 100, 100, 0.3)
        &::selection
                background-color: $selection
    .input-line
        display: flex
        &.free
            display: block
        &::selection
                background-color: $selection
        .path
            display: inline-block
            vertical-align: middle
            &::selection
                background-color: $selection
            background: -webkit-linear-gradient( 45deg, #DD0039, #CA00B9)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            filter: saturate(0.7)
        .dollar
            display: inline-block
            vertical-align: middle
            &::selection
                background-color: $selection
            font-style: bold
            color: #CA00B9
            filter: saturate(0.7)
        .text
            vertical-align: bottom
        textarea
            overflow-y: hidden
            display: inline-block
            vertical-align: bottom
            &::selection
                background-color: $selection
            flex: 1
            height: 17px
            color: #aaa
            background: transparent
            border: none
            outline: none
            resize: none
            overflow-x: auto
            white-space: nowrap
            &::-webkit-scrollbar
                height: 5px
                background-color: transparent
            &::-webkit-scrollbar-track
                height: 5px
                background-color: transparent
            &::-webkit-scrollbar-thumb
                height: 5px
                background-color: #888
                border-radius: 5px
                
#paralels
    position: absolute
    bottom: 0
    right: 15px
.paralel
    vertical-align: bottom
    display: inline-block
    background-color: rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(10px)
    width: 40px
    height: 40px
    border-radius: 10px
    z-index: 3
    margin: 10px
    transition: 300ms
    animation: paralel 500ms
    .content
        height: 20px
        padding: 10px
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: opacity 300ms
        font-size: 12px
        word-break: break-all
        font-family: Lato
        overflow-y: scroll
        overflow-x: hidden
        &::-webkit-scrollbar
            width: 5px
            background-color: transparent
        &::-webkit-scrollbar-track
            width: 5px
            background-color: transparent
        &::-webkit-scrollbar-thumb
            width: 5px
            background-color: #888
            border-radius: 5px
    &:hover
        width: 200px
        height: 100px
        z-index: 4
    &:hover::after
        opacity: 0
    &:hover .content
        opacity: 1
        height: 80px
    &::after
        transition: opacity 300ms
        opacity: 1
        display: inline-block
        position: absolute
        top: 0
        left: 0
        content: ""
        width: 40px
        height: 40px
        background-image: url('../../art/terminal-button-dark.svg')
        background-position: center
        background-size: cover
        
@keyframes paralel
    0%
        width: 0
        height: 0
        transform: scale(0)
    30%
        width: 40px
        height: 40px
        transform: scale(1.2)
    100%
        transform: scale(1)
        

@keyframes portal
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)