#view
    position: relative
    backdrop-filter: blur(10px)
    display: inline-block
    vertical-align: top
    width: calc(100vw - 100px)
    height: 100vh
    #image
        transition: opacity 200ms 
        visibility: hidden
        position: absolute
        top: 0
        left: 0
        user-select: none
        width: inherit
        height: inherit
        text-align: center
        opacity: 0
        &:hover #image-container
            transform: translate(0, -50%) scale(1.05)
        #image-container
            position: relative
            top: 50%
            left: 0
            width: 80%
            height: 80%
            transform: translate(0, -50%)
            display: inline-block
            background-position: center
            background-size: contain
            background-repeat: no-repeat
            background-image: none
            transition: transform 300ms


    #welcome
        transition: opacity 300ms
        position: absolute
        top: 0
        left: 0
        user-select: none
        width: inherit
        height: inherit
        text-align: center
        vertical-align: middle
        // This is acommented glow effect of Illiade
        // background: radial-gradient(circle, #ff00ff2e, transparent 20%)
        animation: welcome 10s infinite
        div
            position: relative
            top: 50%
            transform: translate(0, -50%)
            display: inline-block
            .img
                transform: translate(0, 0)
                background-position: center
                background-size: cover
                background-image: url('../../art/logo.png')
                width: 200px
                height: 200px
                filter: drop-shadow(0 0 5px #111)
            h1
                letter-spacing: 3px
                color: #aaa
                font-family: Lato
                margin: 5px
            i
                padding: 5px
                font-family: Lato
                background: -webkit-linear-gradient( 45deg, #DD0039, #CA00B9)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent

@keyframes welcome
    0%
        filter: hue-rotate(-30deg)
    50%
        filter: hue-rotate(20deg)
    100%
        filter: hue-rotate(-30deg)
